<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" context="width =device-width, initial-scale = 1">
<title>Junior Time Online System</title>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
			<h4>Juniortime</h4>
			<p>With the intent of improving it through better procedures and methods, system design examines the business situation. And translate the system requirements into more technical specifications and shaping organizations, improving performance and achieving objectives for profitability and growth.The design describes how the many features and processes the JrTOS to be produced by the system, suchs as generating reports for the admin, communication between parents and teachers, student portfolio report, invoices etc. This is the phase where planning of the system functionality is being specified, and developed to help the implementation of the system to be developed. 
			</p>

			
		</div>
		
	</div>
	
</div>


</body>